$darkGray: #444;
$lightGray: #eee;
$gray: #ccc;
$buttonDark: #f2f2f2;
$buttonLight: #fff;

.pdf-viewer {
  font-family: arial, sans-serif;
  font-size: 13px;
  border: solid 1px $gray;
  box-sizing: border-box;
  &-toolbar {
    background: $lightGray;
    display: block;
    border-bottom: solid 1px $gray;
    padding: 5px;
    text-align: center;
    position: relative;

    // Clearfix
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &-wrapper, &-left, &-center, &-right {
      display: inline-block;
    }
    &-center {
      text-align: center;
      width: 200px;
      position: absolute;
      top: 10px;
      left: 50%;
      margin: 0 auto 0 -100px;
      strong {
        padding-top: 5px;
      }
    }
    &-left {
      float: left;
      text-align: left;
    }
    &-right {
      float: right;
      text-align: right;
    }

    &-page {
      display: inline-block;
      input {
        width: 30px;
      }
    }
  }
  &-container {
    background-color: $darkGray;
    text-align: center;
    padding-top: 10px;
    border: solid 1px $lightGray;
    overflow: scroll;
  }
  &-embedded-object {
    // width: 100%;
  }
  a.pdf-viewer-toolbar-btn {
    color: inherit;
    background-color: #fff;
    min-width: 15px;
    border: solid 1px #929292;
    display: inline-block;
    outline: 0; 
    margin: 0 4px 0 0;
    padding: 1px 5px;
    text-decoration: none;
    cursor: default; 
    position: relative;
    text-align: center; 
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, $buttonDark, $buttonLight);
    background-image: linear-gradient(to top, $buttonDark, $buttonLight);
    &:hover {
      background-image: -webkit-linear-gradient(top, darken($buttonDark, 5%), darkent($buttonLight, 5%));
      background-image: linear-gradient(to top, darken($buttonDark, 5%), darken($buttonLight, 5%));
    }
  }
}
